<div class="row">
  <div class="col-sm-1">
    One of three columns
  </div>
  <div class="col-sm-8">
      <div class="max-width-1024">
        <div class="embed-responsive embed-responsive-16by9" id="player"></div>
      </div>
  </div>
  <div class="col-sm-3">
    One of three columns
  </div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" style="margin-top: 3em;">
        <ul class="list-unstyled components">
            <h3>Chat</h3>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <p href="#">muska</p>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <form>
                <div class="form-group">
                    <label for="username">Enter your name here:</label>
                    <input type="name" class="form-control" id="username" aria-describedby="nameHelp" placeholder="Name" name="username" [(ngModel)]="localUser.username">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Enter your link here:</label>
                    <input type="url" class="form-control" id="exampleInputPassword1" placeholder="https://">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

    </nav>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="right-sidebar">

        <div id="dismiss">
            <i class="fas fa-arrow-right"></i>
        </div>

        <div class="sidebar-header">
            <h3></h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a  href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</div>