<div class="row">
  <div class="col-sm-1">
   
  </div>
  <div class="col-sm-8">
      <div class="max-width-1024">
        <div class="embed-responsive embed-responsive-16by9" id="player"></div>
      </div>
  </div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" style="margin-top: 3em;">
        <ul class="list-unstyled components">
            <h3></h3>
           
            <form>
                <div class="form-group">
                    <label for="username">Enter your name here:</label>
                    <input type="name" class="form-control" id="username" aria-describedby="nameHelp" placeholder="Name" name="username" [(ngModel)]="localUser.username">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                
            </form>

            <form>
                <div class="form-group">
                    <label for="yturl">Enter your link here:</label>
                    <input type="url" class="form-control" id="yturl" placeholder="https://youtube.com/watch?id=" [(ngModel)]="ytLink" name="ytlink">
                </div>
                <button type="submit" class="btn btn-primary" (click)="addSongToQueue()">Submit</button>
            </form>         
        </ul>
        <ul class="list-unstyled components">
            <h3>Song Queue</h3>
            <div *ngFor="let song of playQueueDatabase | async">
                <p>{{song.title}}</p>
            </div>
        </ul>
    </nav>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="right-sidebar" style="margin-top: 3em;">

        <div id="dismiss">
            <i class="fas fa-arrow-right"></i>
        </div>

        <div class="sidebar-header">
            <h3></h3>
        </div>

        <ul class="list-unstyled components">
            <h3>Chat</h3>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a  href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>

            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
                  </div>
            </form>

            
            
        </ul>
    </nav>
</div>