<div class="row">
  <div class="col-sm m-3">
    <h1>OP Musiq</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm">
      <div class="card">
        <div class="card-body">
          Just another music player. Supports more people listening at the same time.
        </div>
      </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-4" *ngFor="let pd of showcaseCards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="" alt="{{pd.title}}">
      <div class="card-body">
        <h5 class="card-title">{{pd.title}}</h5>
        <p class="card-text">{{pd.text}}</p>
      </div>
    </div>
  </div>
</div>